* {
    font-family: Courier, monospace;
    color: #FFFFFF;
    text-align: center;
}
body {
    margin: 0;
}
.header {
    background-color: #0093FF;
    padding: 60px;
}
.sidebarA {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to right,#EAAC21,#EAAC21 60%,#FFE200 60%);
    padding: 60px;
}
.sidebarB {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(to right,#EAAC21,#EAAC21 33%,#FFE200 33%,#FFE200 66%,#EAAC21 66%);
    padding: 60px;
}
.main1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: linear-gradient(to right,#65BCB5,#65BCB5 75%,#0093FF 75%);
    padding: 60px;
}
.main2 {
    background-color: #65BCB5;
    padding: 60px;
}
.footer {
    background-color: #0093FF;
    padding: 20px;
}