body {
	margin: 0;
    font-family: Courier, monospace;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}
.single > div {
	padding: 60px 0;
}
.quarter {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.quarter > div {
	padding: 60px 0;
}
.third {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.third > div {
	padding: 60px 0;
}
.footer {
	padding: 20px 0;
	background-color: #744FC6;
}
.header {
	background-color: #744FC6;
}
.quart1 {
	background-color: #ED7E07;
    grid-column: 1/3;
}
.quart2 {
	background-color: #FF5A5F;
    grid-column: 3/5;
}
.quart3 {
	background-color: #4FB0C6;
    grid-column: 1/4;
}
.quart4 {
	background-color: #744FC6;
    grid-column: 4/5;
}
.third1 {
	background-color: #ED7E07;
}
.third2 {
	background-color: #FF5A5F;
}
.main {
	background-color: #4FB0C6;
}