* {
    font-family: Courier, monospace;
    color: #FFFFFF;
    text-align: center;
    padding: 50px;
}
body {
    margin: 0;
}
.header {
    background-color: #0093FF;
}
.sidebarA {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to right,#EAAC21,#FFE200)
}
.sidebarB {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: linear-gradient(to right,#EAAC21,#FFE200,#EAAC21)
}
.main1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: linear-gradient(to right,#65BCB5,#0093FF)
}
.main2 {
    background-color: #65BCB5;
}
.footer {
    background-color: #0093FF;
}