body {
	margin: 0;
    font-family: Courier, monospace;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    background-color: #FFA700;
}
.grid-container > div {
    padding: 50px 0;
    border-style: solid;
    border-width: 5px;
    border-color: #FFA700;
}
.grid-containeralt {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #FFA700;
}
.grid-containeralt > div {
    padding: 50px 0;
    border-style: solid;
    border-width: 5px;
    border-color: #FFA700;
}
.footer {
	display: grid;
	background-color: #FFA700;
}
.footer > div {
    padding: 20px 0;
    border-style: solid;
    border-width: 5px;
    border-color: #FFA700;
}
.foot {
	background-color: #E8C4A1;
}
.item1 {
    grid-column: 1 / 3;
    background-color: #3D4BF5;
}
.item2 {
	background-color: #7BE7F0;
    grid-column: 3 / 5;
}
.item3 {
    grid-column: 5 / 7;
    background-color: #3D4BF5;
}
.item4 {
	grid-column: 1 / 6;
    background-color: #E8C4A1;
}
.item5 {
	grid-column: 6 / 7;
    background-color: #EAAC21;
}
.item6 {
	grid-column: 1 / 5;
    background-color: #3D4BF5;
}
.item7 {
	grid-column: 1 / 5;
    background-color: #EAAC21;
}
.item8 {
	grid-row: 3 / 5;
    grid-column: 5 / 7;
    background-color: #7BE7F0;
}
.item9 {
    background-color: #3D4BF5;
}
.item10 {
    background-color: #7BE7F0;
}
.item11 {
    background-color: #EAAC21;
}